body {
	max-width: 120em;
	margin: auto;
}
* {
	font-family: 'Inter';
	font-style: normal;
}

h2 {
	font-size: 1.9em;
}

h3 {
	font-size: 1.6em;
}
.top-header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 6.25em;
	padding-block: 1.875em;
	align-items: center;
}

.top-header .name {
	font-size: 1.625em;
	font-weight: normal;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 0.875em;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 0.625em;
}

.nav a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 1.25em;
	height: 1.25em;
}

.carousel-container {
	overflow: hidden;
	width: 100%;
}

.carousel {
	position: relative;
}

.carousel-inner {
	display: flex;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	flex-wrap: nowrap;
}

.slide {
	flex: 0 0 100%;
	height: 100%;
	transition: .5s ease-in-out;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.carousel-control {
	position: absolute;
	z-index: 3;
	left: 5%;
	right: 5%;
	top: 50%;
	display: flex;
	justify-content: space-between;
}

.carousel-control button {
	padding: 0.625em;
	background-color: transparent;
	border: none;
	font-size: 2em;
	color: #FFFFFF;
}

.carousel-dots {
	position: absolute;
	z-index: 3;
	left: 35%;
	bottom: 5%;
	display: flex;
	justify-content: center;
	width: 31.25em;
	height: 1.25em;
}

.carousel-dots .dot {
	margin: 0.125em;
	cursor: pointer;
	height: 0.188em;
	width: 1.875em;
	background-color: transparent;
}

.carousel-dots .active {
	background-color: #FFFFFF;
	opacity : 1;
}

.carousel-dots .inactive {
	background-color: #FFFFFF;
	opacity: 0.5;
}


#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 6.25em;
	padding-block: 6.25em;
	position: relative;
}

.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 23.375em;
	height: 20.563em;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.picture {
	flex: 1;
	margin: 0 1.25em;
	z-index: 0;
}

.picture img {
	width: 100%;
	height: 100%;

}
#about-me {
	flex: 2;
	display: flex;
	flex-direction: column;
}
.about-me__title {
	display:flex;
	margin-top: 1em;
	margin-bottom: 3.75em;
	font-weight: normal;
}
.about-me__introduction {
	font-family: 'Spectral';
	display: flex;
	font-weight: 800;
	font-style: italic;
	width: 80%;
}
.about-me_para {
	display: flex;
	width: 60%;
	font-size: 1em;

}

.title{
	text-align: center;
	padding-block: 2em;
	font-weight: normal;
}
.gallery .nav {
	justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #BEB45A;
	border-radius:0 ;
}
.nav-pills .nav-link {
	color: #000
}
.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
}
.item-column::after{
	content: "";
	display: block;
	padding-bottom: 100%;

}

.container-gallery {
	display: flex;
	flex-direction: column;
	padding: 1em 0.75em 1em 0.75em;
	margin: 0em 15em 0em 15em;
}

.boutonFiltre {
	display: flex;
	justify-content: center;
	padding-bottom: 2em;
	flex-wrap: wrap;
}

.boutonFiltre button {
	border : none;
	background-color: #FFFFFF;
	padding: 0.5em 1em;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery-actif {
	animation: mymove 2s ;
}
@keyframes mymove {
	0%   {top: 0em; width: 0em;}
	100% {top: 25em; width: 93.75em;}
}

.gallery-actif img {
	animation: mymoveg 2s ;
}
@keyframes mymoveg {
	0%   {width: 0em;}
	100% {width: 25em;}
}

.gallery img {
	height: 25em;
	width: 25em;
	object-fit: cover;
	padding: .5em;
	cursor: pointer;

}

.boiteTout{
	position: absolute;
	border: solid 0.625em;
	border-color: #FFFFFF;
	padding: 0em;
	max-width: 100%;
	max-height: calc(100vh - 100px);
}

.boiteTout img {
	max-width: 100%;
	max-height: calc(100vh - 150px);
}

.modalCSS {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.butPrev, .butNext {
	width: 1.875em;
	height: 1.875em;
	background-color: #FFFFFF;
	border: none;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 1.5em;
}

.butNext {
	position: absolute;
	top: 50%;
	right: -1.875em;
}
.butPrev {
	position: absolute;
	top: 50%;
  	left: -1.875em;
}

.quote {
	font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}
.quote__text {
	font-family: Spectral;
	font-style: italic;
	font-weight: 300;
	font-size: 1.5em;

}
.quote__author {
	font-family: Spectral;
	font-weight: 800;
	font-size: 1.375em;
}

.container {
	display: flex;
	padding: 1em 0.75em 1em 0.75em;
	margin: 0em 15em 0em 15em;
}

.container h3 {
	font-weight: normal;
	font-size: 1.5em;
}

#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}

.service__description p{
	/* text-align: ; */
}

.price {
	font-weight: normal;
	font-size: 1.375em;
}

.titre-formulaire {
	font-size: 1.875em;
}

#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding : 2em 0;

}

.service {
	background-color: white;
	max-width: 24.375em;
	width: 30%;
	height: 21.063em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 6.25em;
	padding-block: 6.25em;
}

#contact .container {
	display: flex;
	margin: 0em 12.5em 0em 12.5em;
}
.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 23.375em;
	height: 20.563em;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.form-container {
	flex : 2;

}
.form-container h2{
	font-weight: normal;
}

form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 0.063em;
	height: 2.5em;
	margin-bottom: 1.25em;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 0.063em;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 1.25em;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em;
	font-size: 1em;
}

.titre-footer {
	font-size: 1.3em;
}

.footer {
	display: flex;
	padding-inline: 6.25em;
	padding-block: 1.875em;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer-bloc p {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.footer-bloc li {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

::marker {
    color: #FFFFFF;
}

/* .nav-link.active-tag {
	background-color: #ff5733;
} */

@media all and (max-width: 1180px) {
	.picture {
		flex : 2;
	}
	#about, #contact .container {
		align-items: center;
	}
	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#about-me h6, #about-me p {
		width: 100%;
	}
	.gallery img {
		height: 19em;
		width: 19em;
	}
}

@media all and (max-width: 1000px) {
	#about{
		flex-direction: column;

	}
	.picture {
		width: 50%;
	}
	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.about-me__title{
		text-align: center;
		margin-top: 1em;
	}
	.gallery img {
		height: 19em;
		width: 19em;
	}
	#services .container {
		flex-direction: column;
	}
	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}
	.service__description{
		margin-bottom: 1em;
	}

	#services .container::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
	}
	#contact .picture.right {
		margin-top: 1em;
	}
	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 650px) {
	.top-header {
		flex-direction: column;
		padding-inline: 0;
	}
	.top-header .nav, .top-header .nav ul {
		width: 100%;
		padding: 0 0 0 0;
	}
	.top-header .nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}
	.carousel {
		height: 12.5em;
	}
	.carousel-inner {
		height: 12.5em;
	}
	.carousel-control {
		top: 45%;
	}
	.carousel-dots {
		left: -10%;
	}
	.picture.left::before, .picture.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	form {
		width: 100%;
	}
	.picture {
		width: 80%;
	}
}


